.div535 {
    background-color: bisque;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
}